* {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

.author {
  margin-bottom: 10px;
  margin-top: 10px;
}

footer {
  color: #fff;
  padding-bottom: 20px;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: #223;
}

.navbar {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: x-large;
}


.mainstuff, h1 {
  color:thistle;
}

a {
  color:thistle;
}

a:hover {
  color:wheat;
}

a:hover::after {
  color:white;
}

p {
  margin-top: 1em;
  color:cadetblue;
}