.author{
  margin-bottom: 10px;
  margin-top: 10px;
}
.footer {
  margin-top: 10em;
  color: #fff;
}
body {
  background-color: #223;
}

.navbar {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: x-large;
}
.mainstuff {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.mainstuff, h1 {
  color:thistle;
}

a {
  color:thistle;
}
a:hover {
  color:wheat;
}

a:hover::after {
  color:white;
}

p {
  margin-top: 1em;
  color:cadetblue;
}